{
  "presets": [
    [
      "@babel/preset-env",
       {
        "targets": {
          "node": "4.3"
        }
      }
    ]
  ],
  "plugins": [
    '@babel/plugin-external-helpers',
    '@babel/plugin-transform-runtime'
  ]
}
